# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Virtual environments
venv/

# IDE / OS
.*/
!.gitignore
!.env.example

# Project-specific
unsloth_compiled_cache/
Sample/
models/
prd.md
*.whl
hailo_ai_sw_suite/
*.log
.install_logs/
infra/
data/external
notebooks/
.env
